<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="DebugLogDirectoryInformation" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<appSettings>
		<add key="BaseLogPath" value="C:\Program Files (x86)\MEAT Technologies Inc\CloneACar\"/>
		<add key="ReleaseType" value="DEVELOPMENT"/>
		<add key="BaseColorScheme" value="1, 110, 15, 122"/>
		<add key="ShowcaseColorScheme" value="1, 173, 104, 212"/>
	</appSettings>

	<DebugLogDirectoryInformation>
		<!--Dirs for all used debug log types.-->
		<add key="DebugLogPath" value="$BASELOG$DebugLogging\"/>
		<add key="JSONMessages" value="$BASELOG$AppResources\"/>
		<add key="SavedComms" value="$BASELOG$UserData\"/>
	</DebugLogDirectoryInformation>

</configuration>